* {
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.font-link{
  font-family: 'Orbitron';
}
input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
 } 
.App{
  color: white;
  text-align: center;
}
body {
  background-color: #121212;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
  
header {
  height: 70px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
header h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 40px;
}

.icon{
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 15px 0px 0px;
}
/* dropdown */

.icon svg:hover, .icon svg:focus {
  fill: #fff;
}

.icon {
  position: relative;
  display: inline-block;
}
.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  background-color: #121212;
  z-index: 2000;
  animation: SlideIn 600ms linear; 
}
@keyframes SlideIn {
  0%  {opacity:0%;}
  25%  {opacity:40%;}
  50%  {opacity:60%;}
  75%  {opacity:80%;}
  100%  {opacity:100%;}

}
.helpdown-content {
  position: relative;
  color: white;
  padding: 0 35%;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  margin-top: 35px;
  right: 10px;
}

.dropdown-content button {
  border-radius: 100%;
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {background-color: #121212; color:white; border-color: #fff;}

.show {display: block;}
  /*.game {
    width: 100vw;
    height: calc(100vh - 170px);
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
  } */

.game {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.board {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 0 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  border-radius: 30%;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e; 
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}
/* login */
.login{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #121212;
  z-index: 2000;
  transition: all 1s linear;  
}
.login header{
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.login-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  border: 1px solid #FFFFFF;
  width: 600px;
  height: 400px;
  border-radius: 10%;
  -webkit-transform: translateX (-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: all 1s linear;  
}
.hidden {
  opacity: 0;
  z-index: -1;
}

form{
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-input {
  box-sizing: border-box;
  text-align: center;
  width: 100px;
  height: 30px;
  border: 2px solid currentColor;
  color: currentColor;
  background: transparent;
  border-radius: 7px;
  padding: 0 10px;
}
#delete{
  border:solid 2px #fff;
  color: #fff;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  padding: 12px 18px;
  font-size: 15px;
  line-height: 22px;
  margin-top: 8px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; font-weight:400;
  letter-spacing: 3px;
  -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
}
#delete:hover{
  background: #fff;
  color: #121212
}
/* gameOver */
.gameOver { text-align: center; width: 375px; color: #FFFFFF; margin-left: 5%; }
/* timer */
.timer{
  font-size: 32px;
  position: relative;
  bottom: 60px;
}
/* numpad */
.keyboard { background-color: #121212; text-align: center; width: 300px; color: #FFFFFF; margin-left: 5%; display: flex; flex-direction: column; flex-wrap: wrap;}

.content {display:grid;grid-template-columns: repeat(3, 100px); margin: 0 8%; justify-items: center; }

.content div, .content a { margin-bottom:6px;width: 4em; height: 4em; border: 1px solid #FFFFFF; border-radius: 70px; cursor: pointer; }

.content div span:nth-child(1)
{ 
  font-size: 1.7em;
  line-height: 2.4em;
}

.content div:hover, .content a:hover { background-color: #ffffff; color: #000000; 
}

.content a:hover #copy, .content a:hover #share, .content a:hover #refresh {
  display: block;
}

.content div:nth-child(10) span{
  line-height: 2.6em;
}
/* hint */
.hint {
  border-radius: 100%;
  border: 1px solid grey;
  width: 54.5px;
  height: 54.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.hintboard{
  height: 600px;
  border: 0.5px solid gray;
  border-radius: 10px;
  margin-left: 3%;

}
.plus{
  width: 10px;
  height: 10px;
  border: 1px solid #63a75c;
  border-radius: 100%;
  margin: 0 2px;
}
.plus:hover{
  background-color: #63a75c;
}
.minus{
  width: 10px;
  height: 10px;
  border: 1px solid #c5ad42;
  border-radius: 100%;
  margin: 0 2px;
}
.minus:hover{
  background-color: #c5ad42;
}

.circle{
  width: 20px;
  height: 20px;
  border: 3px solid #63a75c;
  border-radius: 100%;
  margin: 0 2px;
  display: inline-block;
}
#percent{
  color: #63a75c;
  animation: SlidePercent 2000ms linear;
}
a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: rgb(250, 233, 236);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}


@keyframes SlidePercent {
  0%  {opacity:0%; color: #ffffff; }
  25%  {opacity:40%; color: #ffffff; }
  50%  {opacity:60%; color: #63a75c; }
  75%  {opacity:80%; color: #63a75c; }
  100%  {opacity:100%; color: #63a75c;}

}
#copy, #share, #refresh{
  display:none;
  color:white;
  opacity: 0%;
  position: absolute;
  margin-bottom: 100px;
  animation: Copied 3000ms linear;
}
@keyframes Copied {
  0%  {opacity:100%;}
  25%  {opacity:90%;}
  50%  {opacity:80%;}
  75%  {opacity:60%;}
  100%  {opacity:0%;}
}
@media only screen and (max-width: 600px) {
  /* For desktop: */
  .game {
    display: block;
    margin-top: 5%;
    height: 0;
  }
  .game1 {
    display: flex;
    justify-content: center;
  }
  .board {
    width: 270px;
    height: 425px;
  }
  .hintboard {
    height: 425px;
  }  
  .hint{
    width: 40px;
    height: 37px;
  } 
  .keyboard{
    width: 100%;
    margin-left: 0;
    margin-top: 25px;
  }
  .content div, .content a{
    width: 3.2em;
    height: 3.2em;
  }
  .content div span:nth-child(1), .content a span:nth-child(1)  {
    font-size: 1.3em;
  }
  .timer{
    bottom: 15px;
  }
  .gameOver{
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .content{
    grid-template-columns: repeat(3, 33%);
  }
  .helpdown-content{
    padding: 0 5%;
  }
  .minus{
    background-color: #c5ad42;
  }
  .plus{
    background-color: #63a75c;
  }
  .login-content{
    width: 100vw;
    height: 40%;
  }
  header h1{
    font-size: 30px;
  }
  hr{
    width: 75%;
  }
  h3{
    margin: 0px;
  }
}
@media only screen and (max-height: 420px) and (min-width: 600px) {
  .board{
    width: 240px;
    height: 300px;
  }

  .hintboard{
    height: 300px;
  }
  .hint{
    width: 29px;
    height: 24.5px;
  }
  .keyboard{
    margin-left: 0;
  }
  .timer{
    bottom: 15px;
  }
  .content div, .content a{
    width: 3em;
    height: 3em;
  }
  .content div span:nth-child(1), .content a span:nth-child(1)  {
    font-size: 1.3em;
  }
  .letter{
    font-size: 20px;
  }
  .minus{
    width: 8px;
    height: 8px;
    background-color: #c5ad42;
  }
  .plus{
    width: 8px;
    height: 8px;
    background-color: #63a75c;
  }
  h3 {
    display: block;
    font-size: 0.87em;
  }
  hr{
    width: 75%;
  }
}
@media only screen and (max-height: 768px) and (max-width: 600px) {
  .board{
    width: 250px;
    height: 355px;
  }
  .row {
    margin: 2px;
  }
  .hintboard{
    height: 355px;
  }
  .hint{
    width: 33px;
    height: 29.5px;
  }
  .letter{
    font-size: 20px;
  }
  .keyboard{
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .timer{
    font-size: 20px;
    bottom: 7px;
    padding: 0px;
  }

  .content div, .content a{
    width: 2.4em;
    height: 2.4em;
  }
  .content div span:nth-child(1), .content a span:nth-child(1){
    line-height: 2.4em;
    font-size: 1em;
  }
  .gameOver{
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .minus{
    width: 6px;
    height: 6px;
    background-color: #c5ad42;
  }
  .plus{
    width: 6px;
    height: 6px;
    background-color: #63a75c;
  }
  h3 {
    display: block;
    font-size: 0.87em;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  h2 {
    display: block;
    font-size: 1.2em;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .circle{
    width: 10px;
    height: 10px;
    border: 2px solid #63a75c;
  }
  svg{
    height: 15px;
  }
  #copy, #share, #refresh{
    margin-bottom: 70px;
  }
  hr{
    width: 75%;
  }
}
