* {
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.App {
    text-align: center;
    background-color: #121212;
    width: 100vw;
    height: 100vh;
    color: white;
  }

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
  
header {
  height: 70px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
header h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 40px;
  margin-left: 50px;
}

.icon{
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 15px 0px 0px;
}
/* dropdown */

.icon svg:hover, .icon svg:focus {
  fill: #fff;
}

.icon {
  position: relative;
  display: inline-block;
}
.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  background-color: #121212;
  z-index: 2000;
  animation: SlideIn 600ms linear; 
}
.helpdown-content {
  position: relative;
  color: white;
  padding: 0 35%;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@keyframes SlideIn {
  0%  {opacity:0%;}
  25%  {opacity:40%;}
  50%  {opacity:60%;}
  75%  {opacity:80%;}
  100%  {opacity:100%;}

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  margin-top: 35px;
  right: 10px;
}

.dropdown-content button {
  border-radius: 100%;
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {background-color: #121212; color:white; border-color: #fff;}

.show {display: block;}
  /*.game {
    width: 100vw;
    height: calc(100vh - 170px);
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
  } */

.game {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.board {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 0 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  border-radius: 30%;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e; 
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}
/* login */
.login{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #121212;
  z-index: 2000;
  transition: all 1s linear;  
}
.login header{
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.login-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  border: 1px solid #FFFFFF;
  width: 600px;
  height: 400px;
  border-radius: 10%;
  -webkit-transform: translateX (-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: all 1s linear;  
}
.hidden {
  opacity: 0;
  z-index: -1;
}

form{
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-input {
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  border: 2px solid currentColor;
  color: currentColor;
  background: transparent;
  border-radius: 7px;
  padding: 0 10px;
}
#delete{
  border:solid 2px #fff;
  color: #fff;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  padding: 12px 18px;
  font-size: 15px;
  line-height: 22px;
  margin-top: 8px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; font-weight:400;
  letter-spacing: 3px;
  -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
}
#delete:hover{
  background: #fff;
  color: #121212
}
/* gameOver */
.gameOver { text-align: center; width: 300px; color: #FFFFFF; margin-left: 5%; }

/* numpad */
.keyboard { text-align: center; width: 300px; color: #FFFFFF; margin-left: 5%;}

.content {display:grid;grid-template-columns: repeat(3, 100px); margin: 0 8%; justify-items: center; }

.content div { margin-bottom:6px;width: 4em; height: 4em; border: 1px solid #FFFFFF; border-radius: 70px; cursor: pointer; }

.content div span:nth-child(1)
{ 
  font-size: 1.7em;
  line-height: 2.4em;
}

.content div:hover { background-color: #ffffff; color: #000000;
}

.content div:nth-child(11){
  pointer-events: none;
}
.content div:nth-child(10) span{
  line-height: 2.6em;
}
/* hint */
.hint {
  border-radius: 100%;
  border: 1px solid grey;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.hintboard{
  height: 500px;
  border: 0.5px solid gray;
  border-radius: 10px;
  margin-left: 3%;

}
.plus{
  width: 10px;
  height: 10px;
  border: 1px solid #63a75c;
  border-radius: 100%;
  margin: 0 2px;
}
.plus:hover{
  background-color: #63a75c;
}
.minus{
  width: 10px;
  height: 10px;
  border: 1px solid #c5ad42;
  border-radius: 100%;
  margin: 0 2px;
}
.minus:hover{
  background-color: #c5ad42;
}
@media only screen and (max-width: 600px) {
  /* For desktop: */
  .game {
    display: block;
    margin-top: 5%;
    height: 0;
  }
  .game1 {
    display: flex;
    justify-content: center;
  }
  .board {
    width: 250px;
    height: 400px;
  }
  .hintboard {
    height: 400px;
  }
  .hint{
    width: 44px;
    height: 44px;
  } 
  .keyboard{
    width: 100%;
    margin-left: 0;
    margin-top: 35px;
  }
  .gameOver{
    width: 100%;
    margin-left: 0;
    margin-top: 35px;
  }
  .content{
    grid-template-columns: repeat(3, 33%);
  }
  .helpdown-content{
    padding: 0 5%;
  }
  .minus{
    background-color: #c5ad42;
  }
  .plus{
    background-color: #63a75c;
  }
  .login-content{
    width: 100vw;
    height: 40%;
  }
  header h1{
    font-size: 30px;
  }
}
@media only screen and (max-height: 420px) and (min-width: 600px) {
  .board{
    width: 250px;
    height: 300px;
  }
  .hintboard{
    height: 300px;
  }
  .hint{
    width: 31px;
    height: 31px;
  }
  .letter{
    font-size: 20px;
  }
  .minus{
    width: 8px;
    height: 8px;
    background-color: #c5ad42;
  }
  .plus{
    width: 8px;
    height: 8px;
    background-color: #63a75c;
  }
}
@media only screen and (max-height: 768px) and (max-width: 600px) {
  .board{
    width: 250px;
    height: 300px;
  }
  .hintboard{
    height: 300px;
  }
  .hint{
    width: 31px;
    height: 31px;
  }
  .letter{
    font-size: 20px;
  }
  .keyboard{
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .content div{
    width: 2.8em;
    height: 2.8em;
  }
  .content div span:nth-child(1){
    line-height: 2.8em;
    font-size: 1em;
  }
  .gameOver{
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .minus{
    width: 6px;
    height: 6px;
    background-color: #c5ad42;
  }
  .plus{
    width: 6px;
    height: 6px;
    background-color: #63a75c;
  }
}
