.App {
    text-align: center;
    background-color: #121212;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    color: white;
  }
  
body {
  padding: 0%;
  margin: 0%;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
    -ms-user-select: none;
        user-select: none;
}
  
nav {
  height: 70px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}
  
nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}
  /*.game {
    width: 100vw;
    height: calc(100vh - 170px);
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
  } */
form label p {
  margin: 0px;
}
.game {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.game1 {
  display: flex;
  align-items: center;
  flex-direction: row
}

.board {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e; 
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}
/* login */
.login {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  overflow: hidden;
  background-color: #3a393c;
  width: 500px;
  height: 500px;
  border-radius: 20%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: all 1s linear;  
}
.hidden {
  opacity: 0;
}

/* gameOver */
.gameOver { text-align: center; width: 300px; color: #FFFFFF; margin-left: 5%; }

/* numpad */
.keyboard { text-align: center; width: 300px; color: #FFFFFF; margin-left: 5%;}

.content {display:grid;grid-template-columns: repeat(3, 100px); margin: 0 8%; }

.content div { margin-bottom:6px;width: 4em; height: 4em; border: 1px solid #FFFFFF; border-radius: 70px; cursor: pointer; }

.content div span:nth-child(1)
{ 
   font-size: 1.7em;
    line-height: 2.4em;
}

.content div:hover { background-color: #ffffff; color: #000000;
}

.content div:nth-child(11){
  pointer-events: none;
}
/* hint */
.hint {
      border-radius: 25px;
      border: 1px solid #FFFFFF;
      width: 150px;
      height: 78px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin:5px;
}
.hintPoint {
    letter-spacing: 8px;
}
